@media (max-width: 991px) {
	.header {
		justify-content: space-around;
	}
	.promo {
		background-position: center left;
		&__wrapper {
			align-items: center;
		}
	}
	.advantages {
		&__wrapper {
			justify-content: center;
		}
		&__descr {
			padding: 5px;
			margin-top: 20px;
		}
	}
}

@media (max-width: 767px) {
	.header {
		&__official {
			display: none;
		}
	}
	.advantages {
		padding: 60px 0 70px 0;
		&__wrapper {
			margin-top: 35px;
		}
		&__subtitle {
			font-size: 17px;
			margin-top: 15px;
		}
		&__descr {
			font-size: 12px;
		}
	}
}

@media (max-width: 575px) {
	.header {
		justify-content: center;
		&__logo {
			width: 180px;
		}
	}
	.promo {
		padding: 21px 0 30px 0;
		&__header {
			text-align: center;
			font-size: 35px;
		}
		&__subheader {
			text-align: center;
			font-size: 17px;
		}
		&__icons {
			width: 335px;
		}
	}
	.title {
		font-size: 27px;
	}
	.advantages {
		padding: 30px 0;
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin-top: 15px;
		}
		&__subtitle {
			margin-top: 0px;
		}
		&__descr {
			margin-top: 0;
		}
	}
}

@media (max-width: 350px) {
	.header {
		justify-content: space-around;
		&__logo {
			width: 145px;
		}
		&__phone {
			font-size: 15px;
		}
	}
	.promo {
		&__icons {
			width: 300px;
		}
		&__icon {
			font-size: 13px;
		}
		&__link {
			font-size: 13px;
		}
	}
	.btn_main {
		width: 260px;
	}
	.title {
		font-size: 23px;
	}
}
