@media (max-width: 991px) {
	.header {
		justify-content: space-around;
	}
	.promo {
		background-position: center left;
		&__wrapper {
			align-items: center;
		}
	}
	.advantages {
		&__wrapper {
			justify-content: space-around;
		}
		&__descr {
			padding: 5px;
			margin-top: 20px;
		}
	}
	.consultation {
		&__descr {
			text-align: center;
		}
	}
	.title {
		&_left {
			text-align: center;
		}
	}
	.feed-form {
		display: block;
		margin: 0 auto;
		margin-top: 25px;
		input {
			width: 100%;
		}
	}
	.carousel {
		.tns-item {
			img {
				width: 75%;
			}
		}
	}
	.catalog {
		&__content {
			justify-content: space-evenly;
		}
	}
}

@media (max-width: 767px) {
	.header {
		&__official {
			display: none;
		}
	}
	.advantages {
		padding: 60px 0 70px 0;
		&__wrapper {
			margin-top: 35px;
		}
		&__subtitle {
			font-size: 17px;
			margin-top: 15px;
		}
		&__descr {
			font-size: 12px;
		}
	}
	.catalog {
		padding-bottom: 50px;
		&__tab {
			width: 165px;
			font-size: 16px;
		}
		&__content {
			justify-content: center;
		}
	}
	.catalog-item {
		width: 275px;
		margin-bottom: 0px;
	}
	.reviews {
		&__item {
			flex-direction: column;
			align-items: center;
			margin-top: 50px;
		}
		&__img {
			width: 150px;
			height: 150px;
		}
		&__text {
			margin-left: 0px;
			padding: 0 20px;
		}
		&__header {
			text-align: center;
		}
		&__count {
			text-align: center;
		}
		&__descr {
			text-align: justify;
			font-size: 14px;
			line-height: 19px;
		}
	}
	.footer {
		&__info {
			height: 205px;
			padding: 26px 68px 25px 68px;
		}
	}
}

@media (max-width: 575px) {
	.header {
		justify-content: center;
		&__logo {
			width: 180px;
		}
	}
	.promo {
		&__header {
			text-align: center;
			font-size: 35px;
		}
		&__subheader {
			text-align: center;
			font-size: 16px;
		}
		&__icons {
			width: 335px;
		}
	}
	.title {
		font-size: 25px;
	}
	.advantages {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin-top: 15px;
		}
		&__subtitle {
			margin-top: 0px;
		}
		&__descr {
			margin-top: 0;
		}
	}
	.consultation {
		padding: 90px 0 143px 0;
		&__descr {
			margin-top: 45px;
			font-size: 16px;
		}
	}
	.carousel {
		.tns-item {
			img {
				width: 85%;
			}
		}
		button {
			img {
				width: 16px;
			}
		}
	}
	.catalog {
		&__tabs {
			margin-top: 40px;
			flex-direction: column;
		}
		&__tab {
			width: 215px;
			margin-bottom: 10px;
		}
	}
	.footer {
		&__info {
			bottom: 0;
			top: auto;
			left: 0;
			width: 100%;
			font-size: 17px;
		}
		&__info {
			padding: 17px 68px 12px 68px;
			height: 180px;
		}
		&__social {
			margin-top: 18px;
		}
	}
}

@media (max-width: 350px) {
	.header {
		justify-content: space-around;
		&__logo {
			width: 145px;
		}
		&__phone {
			font-size: 15px;
		}
	}
	.promo {
		padding: 21px 0 30px 0;
		&__icons {
			width: 300px;
		}
		&__icon {
			font-size: 13px;
		}
		&__link {
			font-size: 13px;
		}
	}
	.btn_main {
		width: 260px;
	}
	.title {
		font-size: 20px;
	}
	.advantages {
		padding: 30px 0;
	}
	.feed-form {
		width: 276px;
	}
	.footer {
		&__info {
			padding: 17px 68px 21px 68px;
		}
		&__social-item {
			border: none;
			margin: 0;
		}
	}
}

