.consultation {
	min-height: 680px;
	padding: 100px 0 92px 0;
	background-image: url(../img/bg2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&__descr {
		font-size: 20px;
		font-weight: 500;
		text-align: left;
		color: #ffffff;
		margin-top: 80px;
	}
	.error {
		border: 2px solid red;
	}
	label.error {
		color: #fff;
		border: none;
		margin-bottom: 15px;
	}
}