.footer {
	height: 630px;
	position: relative;
	iframe {
		width: 100%; 
		height: 630px;
		border: 0;
	}
	&__info {
		position: absolute;
		top: 0;
		left: calc(50% - 230px);
		width: 460px;
		height: 270px;
		background-color: $main-color;
		text-align: center;
		font-size: 20px;
		color: #ffffff;
		padding: 50px 68px 60px 68px;
	}
	&__address {
		font-weight: 500;
	}
	&__phone {
		color: #ffffff;
		font-weight: 700;
		margin-top: 36px;
		&:hover {
			color: #ffffff;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 38px;
	}
	&__social-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		color: #ffffff;
		border: 2px solid #fff;
		border-radius: 100%;
		margin: 0 15px;
		img {
			height: 26px;
		}
		&:hover {
			color: #ffffff;
			text-decoration: none;
		}
	}
}